body {
  color: aliceblue;
  text-align: center;
  background-color: burlywood;
  text-decoration-line: underline;
  font-family: Helvetica;
  background-image: url("/Users/farhaan/Projects/week6/thermostat_cour/thermostat/public/css/852_pluto_natural_color_20150714_detail.jpg");
}

h1 {
  font-size: 200%;
}

button {
  background-color: black; /* Green */
  border-block: rgb(199, 14, 14);
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-inline-color: purple;
}
input[type="text"] {
  border: 2px solid purple;
  border-radius: 4px;
  font-family: Helvetica;
}
input[type="submit"] {
  border: 2px solid purple;
  border-radius: 4px;
  font-family: Helvetica;
}
